@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../styles/variables.css');

:root {
  --foreground-rgb: 253, 255, 232;
  --background-start-rgb: 165, 199, 191;
  --background-end-rgb: 165, 199, 191;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 253, 255, 232;
    --background-start-rgb: 165, 199, 191; /* Thay đổi từ màu đen sang màu xanh dương */
    --background-end-rgb: 165, 199, 191; /* Thay đổi từ màu đen sang màu xanh dương */
  }
}

body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hideScrollBar::-webkit-scrollbar{
  display: none;
}

.hideScrollBar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.fixed-right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 0;
}


.fixed-right .modal-content {
  height: 100%;
  width: 300px; 
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fixed-right .modal-body {
  height: calc(100% - 56px); 
  overflow-y: auto;
}

.fixed-right .modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Add this to your styles */
.full-height {
  height: 100%;
}

/* Adjust the width and other styles as needed */
.full-height .modal-content {
  height: 100%;
  width: 300px; /* Set the desired width */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.full-height .modal-body {
  height: calc(100% - 56px); 
  overflow-y: auto;
}

.full-height .modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.custom-container {
  /* max-height: 90%; Container will adjust its width based on content */
  background-color: white;
  max-width: 90%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 50px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-wrapper .main-content {
  display: flex;
  flex: 1;
  margin-top: 80px; /* Adjust this value based on the height of your header */
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
  /* margin-bottom: 100px;  */
}

.header-wrapper .navbar {
  justify-content: center;
}
